.hedaer-menu {
    background-color: #4472c4;
    border: 2px solid #365a99;
    padding: 8px 15px 19px 8px;
    color: #ffffff;
    font-size: 14px;
}

.divider {
    margin: 0 7px;
}

.tab {
    cursor: pointer;
}

.user-info {
    padding: 10px;
}

.aboutus, .contact-info {
    padding: 10px;
    color: #365a99;
}